/****
 * General styling
 */
:root {
  --light-blue: #268BFF;
  --broken-white: #F8F8FB;
  --h1-main: #F8F8FB;
  --blue: #71C2FF;
  --green: #00CC11;
  --orange: #FF782B;
  --purple: #AE70FF;
  --yellow: #FFD314;
}

a:hover { text-decoration: none; }
body { background-color: #FFF; }
body { /*background-color: var(--broken-white);*/ overflow-y: scroll; position: relative; }
@font-face { font-family: 'coverfont'; src: url('Brandon_bld.otf') format('opentype'); }
@font-face { font-family: 'titlefont'; src: url('BebasNeue-Regular.otf') format('opentype'); }
@font-face{ font-family:'typefont'; src:url('Tox Typewriter.ttf') format('truetype'); }

.wrapper { margin: 0 auto 0; max-width: 100%; position: relative; width: 1200px; }
#sidebar { position: absolute; top: 50vh; right: 0; width: 240px; background-color: #F00; height: 100vh; }

header.landing { position: fixed; top: 0; left: 0; right: 0; }
section.landing { background: url('../img/208106.jpg') center; background-size: cover; height: 100vh; position: relative; }
section.landing .title { position: absolute; top: 50%; left: 0; right: 0; text-align: center; margin-top: -80px; }
section.landing .title h1 { font-family: "coverfont"; text-transform: uppercase; color: var(--h1-main); font-size: 72px; line-height: 64px; letter-spacing: 1px; text-shadow: #000 1px 1px 4px; }
section.landing .title span { font-family: "coverfont"; text-transform: uppercase; color: var(--h1-main); font-size: 21px; line-height: 24px; letter-spacing: 2px; }
section.landing:before { content: ''; background: rgba(14,35,50,.7); position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

section.landing.trails { height: 50vh; background: url('../img/cover/birrkar2.jpg') center; background-size: cover; }
section.landing.gear { height: 50vh; background: url('../img/cover/gear.jpg') center; background-size: cover; }
section.landing.about { height: 50vh; background: url('../img/cover/mtwhitney.jpg') center; background-size: cover; }

section.cover { height: 50vh; position: relative; }
section.cover:before { content: ''; background: rgba(14,35,50,.4); position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
section.cover span { color: #FFF; font-size: 19px; font-weight: 600; /*background-color: rgba(0,0,0,.4);*/ padding: 4px 10px; border-radius: 2px; }
section.cover span a { color: #FFF; transition: .2s; }
section.cover span a:hover { color: #0074C1; }
section.cover .title { position: absolute; top: 50%; left: 0; right: 0; text-align: center; margin-top: -86px; }
section.cover .title h1 { font-family: "coverfont"; color: #FFF; font-size: 96px; line-height: 96px; letter-spacing: 6px; text-shadow: #000 1px 1px 4px; }
section.cover .title:after { display: block; content:''; border-top: 6px solid var(--light-blue); width: 96px; margin: 24px auto 24px; }

section.section { padding: 92px 0 240px; }

/**
 */
h2.sectiontitle { margin: 0 0 64px 0; color: #333; line-height: 12px; position: relative; }
h2.sectiontitle:after { content:''; border-top: 6px solid var(--light-blue); width: 72px; display: inline-block; position: absolute; top: 28px; left: 0; }

section.hike { padding: 92px 0; }

section.cover.post { position: relative; height: 48vh; min-height: 350px; background: no-repeat center center;
-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
section.cover.post .content { position: absolute; top: 20vh; left: 0; right: 0; text-align: center; }
section.cover.post .inner { display: inline-block; border: 2px solid var(--broken-white); margin: 0 auto 0; padding: 12px 24px; border-radius: 2px; background-color: rgba(0,0,0,.32); }
section.cover.post .inner h2 { color: var(--broken-white); }
section.cover.post .inner h5 { color: var(--broken-white); letter-spacing: 1.6px; font-size: 17px; }



/**
 */
section { padding: 92px 0; }

section.thruhike { padding: 92px 0 72px; background-color: var(--broken-white); }
section.thruhike p.distance:before { display: inline-block; width: 28px; height: 28px; background-size: 100% 100%; margin-right: 8px; vertical-align: bottom; content: ''; }
section.thruhike p.distance:before { background-image: url('icon/distance.png'); }
section.sectionhike { padding: 92px 0 200px; }
section.pct { padding: 0 0 200px 0;}

section.thruhike h2 .display { float: right; }
span.icon { cursor: pointer; }
span.icon.active { border-bottom: 4px solid #FFB223; }
span.icon:before { display: inline-block; width: 28px; height: 28px; background-size: 100% 100%; margin: -6px 4px; content: ''; }
span.list:before { background-image: url('icon/list.png'); }
span.tiles:before { background-image: url('icon/tiles.png'); }

section.main { padding: 92px 0 160px; }
p { font-size: 19px; color: #222; }

section.news { padding: 92px 0; }
section.featured { padding: 92px 0; background-color: var(--broken-white); }
section.highlight { padding: 92px 0 160px; }

section.about { min-height: 30vh; }
section.adventurers { padding: 92px 0 270px; min-height: 70vh; background-color: var(--broken-white); }

section.video { min-height: 50vh; }

/**
 *
 */
.carousel { margin-top: 96px; padding: 0; text-align: center; }
.carousel-item .caption { position: absolute; bottom: 64px; left: 0; right: 0; text-align: center; }
.carousel-item .caption span { color: #FFF; font-size: 19px; font-weight: 600; background-color: rgba(0,0,0,.4); padding: 4px 10px; border-radius: 2px; }
/*.carousel span { font-family: "coverfont"; font-size: 19px; }*/

.carousel-inner { box-shadow: 0 0 6px 0 #444; }

#car a { margin-top: -64px; }
#car .carousel-indicators { position: static; margin-top: 20px; }
#car .carousel-indicators .thumb img { opacity: 0.5; width: 100%; }
#car .carousel-indicators .thumb.active img { opacity: 1; }
#car .carousel-indicators .thumb:hover img { opacity: 1; }
#car .carousel-indicators .thumb { padding: 0 4px; border: none; width: 100px; cursor: pointer; }


/**
 * Quotes
 */
p.quote { font-size: 19px; border-left: 10px solid #48484B; padding: 16px 20px; background-color: var(--broken-white); position: relative; line-height: 27px; color: #444; text-align: justify; margin-bottom: 64px; }

/**
 * Cover title and subtitle
 */
h2 { font-family: "coverfont"; text-transform: uppercase; color: #28282B; }
h5 { font-family: "titlefont"; letter-spacing: 1px; color: #28282B; }
/* Content subtitles */
.main h3 { position: relative; margin-top: 96px; margin-bottom: 54px; font-size: 28px; font-family: "titlefont"; color: #00396B;/*#28282B;*/ letter-spacing: 1px; }
.main h3:after { content:''; border-top: 4px solid #268BFF; width: 72px; display: inline-block; position: absolute; top: 42px; left: 0; }
.main h4 { font-family: "coverfont"; margin: 64px 0 24px 0; }

.main span.subtitle { font-size: 19px; display: inline-block; margin: -12px 0 36px 0; }
.main span.subtitle:before { display: inline-block; width: 28px; height: 28px; background-size: 100% 100%; margin-right: 8px; vertical-align: bottom; content: ''; }
.main span.subtitle:before { background-image: url('icon/distance.png'); }

.main .links { font-size: 21px; margin: 24px -16px 48px -18px; }

/**
 * Movie
 */
.movie h6 { margin: 0 0 54px 0; }


/**
 * Social buttons
 */
.share { display: inline-block; float: right; margin-top: 12px; }
.share .btn { border: none; border-radius: 50%; width: 28px; height: 28px; position: relative; }
.share .fa { font-size: 15px; line-height: 15px; }
.share a.btn i { position: absolute; top: 6px; left: 7px; }

.btn-whatsapp{color:#fff;background-color:#28C34C;border-color:rgba(0,0,0,0.2)}.btn-whatsapp:focus,.btn-whatsapp.focus{color:#fff;background-color:#1F9639;border-color:rgba(0,0,0,0.2);}
.btn-whatsapp:hover{color:#fff;background-color:#1F9639;border-color:rgba(0,0,0,0.2)}
.btn-whatsapp:active,.btn-whatsapp.active,.open>.dropdown-toggle.btn-whatsapp{color:#fff;background-color:#1F9639;border-color:rgba(0,0,0,0.2)}.btn-whatsapp:active:hover,.btn-whatsapp.active:hover,.open>.dropdown-toggle.btn-whatsapp:hover,.btn-whatsapp:active:focus,.btn-whatsapp.active:focus,.open>.dropdown-toggle.btn-whatsapp:focus,.btn-whatsapp:active.focus,.btn-whatsapp.active.focus,.open>.dropdown-toggle.btn-whatsapp.focus{color:#fff;background-color:#39074e;border-color:rgba(0,0,0,0.2)}
.btn-whatsapp:active,.btn-whatsapp.active,.open>.dropdown-toggle.btn-whatsapp{background-image:none}
.btn-whatsapp.disabled:hover,.btn-whatsapp[disabled]:hover,fieldset[disabled] .btn-whatsapp:hover,.btn-whatsapp.disabled:focus,.btn-whatsapp[disabled]:focus,fieldset[disabled] .btn-whatsapp:focus,.btn-whatsapp.disabled.focus,.btn-whatsapp[disabled].focus,fieldset[disabled] .btn-whatsapp.focus{background-color:#28C34C;border-color:rgba(0,0,0,0.2)}
.btn-whatsapp .badge{color:#28C34C;background-color:#fff}


/**
 * Image gallery
 */
.row.gallery { margin-top: 32px; margin-bottom: 32px; text-align: center; }
.row.gallery span { text-align: center; color: #444; font-style: italic; font-size: 17px; line-height: 24px; display: block; margin: 0 4px;}
.container { margin: 64px auto; position: relative; text-align: left; }
.container img { margin: 8px 4px; max-height: 640px; box-shadow: 0 1px 3px 0 #888; }
.container span { color: #444; font-style: italic; font-size: 17px; line-height: 24px; display: block; }
.container img.red-border { border: 4px solid #F00; margin: 0px; }

.modal { text-align:center; }

.modal-open { overflow-y: scroll; padding-right: 0px !important; }
.modal-dialog { display: inline-block; width: auto; }
.modal-content { border: none; border-radius: 0; box-shadow: 0 2px 6px 0 #444; cursor: pointer; margin-left: 8px; margin-top: calc(4vh); }
.modal .controls { position: absolute; bottom: -48px; left: 0; right: 0; text-align: right; display: none; }
.modal button { color: #CCC; font-size: 32px; background: none; border: none; }
img.img-thumbnail { border: none; background: none; }
.modal img.img-responsive { max-height: calc(72vh); width: 100%; }

/*
#videoModal .modal-content { border: 8px solid #FFF; display: inline-block; }
#videoModal iframe { width: 960px; }
*/

/* Video selection */
.selection { display: inline-block; width: 100%; margin: 32px auto 32px; text-align: center; }
.selection div { display: inline-block; text-align: left; padding: 2px 0px; color: #28282B; margin: 2px 0 0 0; font-size: 19px; cursor: pointer; width: 140px; }
.selection div:before { display: inline-block; height: 28px; width: 28px; content:''; margin-right: 12px; vertical-align: top; background-size: 28px 28px; }
/*.menu div.active:before { background-image: url('cm1.png');}*/
/*.menu div:before { background-image: url('cm2.png'); }*/
.selection div.active:before { background-image: url('cm.png');}
.selection div:before { background-image: none;}
.selection .author:before { background-color: var(--blue); }
.selection .trail:before { background-color: var(--yellow); }
